/* Estilos para el contenedor de las letras */
.abecedario-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Aumenta el espacio entre los botones */
    justify-content: center;
    margin-bottom: 30px; /* Aumenta el espacio en la parte inferior */
}

/* Estilos para los botones de las letras */
.letra-btn {
    background-color: #1417d8;
    border: none;
    color: white;
    padding: 15px 20px; /* Ajusta el padding del botón */
    text-align: center;
    text-decoration: none;
    font-size: 18px; /* Aumenta el tamaño de la letra */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.letra-btn:hover {
    background-color: #081557;
}

/* Estilos para el contenedor de las palabras */
.resultado-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Aumenta el espacio entre las tarjetas */
    justify-content: center;
}

/* Estilos para cada tarjeta */
.card2 {
    background-color: #f2f2f2;
    padding: 30px; /* Aumenta el espacio dentro de la tarjeta */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.card2 h5 {
    margin-bottom: 20px; /* Aumenta el espacio entre el título y el contenido */
    font-size: 24px;
}

.card2 p {
    margin: 15px 0; /* Aumenta el espacio entre los párrafos */
    font-size: 18px;
}

.card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Añade un box-shadow hermoso */
}


.card-back {
    transform: rotateY(180deg);
}
.pronunciar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: #f2f2f2;
    transition: ease 0.5s;
    border: none;
}

.pronunciar-btn:hover{
    transition: ease 0.5s;
    background-color: #1417d8;
    border-radius: 50px;
    color: #f2f2f2;
    border: none;
}
.total-palabras{
    color:  #111112;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}
.titulo{
    color:  #1417d8;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}
.palabras{
    text-align: center;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.palabras-atras{
    text-align: center;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
.btnVolver {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    z-index: 9999; /* Asegura que el botón esté por encima de otros elementos */
}

.btnParaVolver {
    border-radius: 25px;
    background-color: #1417d8;
    border: none;
    color: white;
    padding: 12px 20px; /* Ajusta el padding del botón */
    font-size: 16px; /* Ajusta el tamaño de la letra */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Agrega transiciones suaves */
    outline: none; /* Elimina el borde al hacer clic */
}

.btnParaVolver:hover {
    background-color: #081557;
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}
